@font-face {
  font-family: Roboto;
  src: local("Roboto"), local("Roboto-Regular"),
      url("../fonts/Roboto-Regular.woff2") format("woff2"),
      url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Bold"), local("Roboto-Bold"),
      url("../fonts/Roboto-Bold.woff2") format("woff2"),
      url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Black"), local("Roboto-Black"),
      url("../fonts/Roboto-Black.woff2") format("woff2"),
      url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  background-color: #fff;
  color: #000;  
  margin: 0;
}

.container {
  max-width: 1144px;
  padding: 0 32px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1172px;
  padding: 25px 16px;
  margin: 0 auto;
}





